/* #Inizio RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
}

/* Fine RESET*/

/* #Inizio TYPOGRAPHY*/

/* Root colori */
:root {
  --bordeaux: #61082b;
  --light-gray: #f5f5f5;
  --gray: #999999;
  --light-blue: #1e73fc;
  --blue: #0061ff;
  --sky: #b4d0e7;
}

/* /Root colori */

/* #Fine TYPOGRAPHY*/

/* #Inizio COMMON*/

nav .column-left,
.column-right,
.links ul,
.help-links ul {
  gap: 36px;
}

nav .column-right {
  justify-content: flex-end;
}

.header-button-start {
  margin-left: 27px;
}

nav .column-left,
.column-right {
  width: 50%;
}

header a {
  color: black;
  text-decoration: none;
}

header li {
  display: flex;
  align-items: center;
  height: 82px;
  list-style: none;
}

header nav {
  padding: 0 20px;
  height: 80px;
  justify-content: space-between;
  position: fixed;
  border-bottom: 2px solid #d1d9e1;
  left: 0;
  right: 0;
  z-index: 444444;
  background-color: white;
}

.flex {
  align-items: center;
  display: flex;
}

.btn {
  color: white;
  padding: 10px 17px;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: var(--blue);
}

/* #Fine COMMON*/

/* #Inizio HEADER*/

/* #Fine HEADER*/

/* #Inizio MAIN*/

/* #Fine MAIN*/

/* #Inizio FOOTER*/

/* #Fine FOOTER*/
