/* #Inizio RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
  display: block;
}

/* Fine RESET*/

/* #Inizio TYPOGRAPHY*/

h1 {
  font-weight: 850;
  font-size: 77px;
}

/* Root colori */
:root {
  --bordeaux: #61082b;
  --light-gray: #f5f5f5;
  --gray: #999999;
  --light-blue: #1e73fc;
  --blue: #0061ff;
  --sky: #b4d0e7;
  --light-green: #a2d39b;
  --florida-blue: #0093ce;
  --topps-red: #ff1c1c;
  --bycicle-red: #d5001f;
  --lonelyplanet-blue: #0d2481;
  --hearst-bluegrey: #b4d0e7;
  --clearchannel-yellow: #ffd830;
}

/* /Root colori */

/* #Fine TYPOGRAPHY*/

/* #Inizio COMMON*/

nav .column-left,
.column-right,
.links ul,
.help-links ul {
  gap: 36px;
}

nav .column-right {
  justify-content: flex-end;
}

.header-button-start {
  margin-left: 27px;
}

nav .column-left,
.column-right {
  width: 50%;
}

header a {
  color: black;
  text-decoration: none;
}

header li {
  display: flex;
  align-items: center;
  height: 82px;
  list-style: none;
}

header nav {
  padding: 0 20px;
  height: 80px;
  justify-content: space-between;
  position: fixed;
  border-bottom: 2px solid #d1d9e1;
  left: 0;
  right: 0;
  z-index: 444444;
  background-color: white;
}

header {
  background-color: var(--sky);
}

.flex {
  align-items: center;
  display: flex;
}

.btn {
  color: white;
  padding: 10px 17px;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: var(--blue);
}

.container-big {
  margin: 0 auto;
  max-width: 1200px;
}

/* #Fine COMMON*/

/* #Inizio HEADER*/

.jumbo {
  bottom: -80px;
  position: relative;
  padding-top: 80px;
}

.interior-jumbo {
  padding-top: 50px;
  align-items: flex-start;
}

.interior-jumbo .column-left {
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  gap: 32px;
}

.interior-jumbo .column-left .fa-arrow-down {
  font-size: 50px;
  padding-top: 43px;
}

.interior-jumbo .column-right {
  width: 70%;
}

.btn .prova {
  padding: 12px 18px;
}

.interior-jumbo .column-right img {
  width: 100%;
}

/* #Fine HEADER*/

/* #Inizio MAIN*/

.bg-light-green {
  background-color: var(--light-green);
}
.bg-bordeaux {
  background-color: var(--bordeaux);
}
.bg-light-blue {
  background-color: var(--light-blue);
}
.bg-topps-red {
  background-color: var(--topps-red);
}
.bg-bycicle-red {
  background-color: var(--bycicle-red);
}
.bg-sky {
  background-color: var(--sky);
}
.bg-lonelyplanet-blue {
  background-color: var(--lonelyplanet-blue);
}
.bg-clearchannel-yellow {
  background-color: var(--clearchannel-yellow);
}
.svg-white {
  filter: invert();
}
.col-logo {
  width: 33.33%;
  display: flex;
  align-items: start;
  vertical-align: middle;
  flex-wrap: wrap;
}
.col-logo .logo {
  width: 50%;
  flex-direction: row;
  align-items: center;
  padding: 50px;
  height: 250px;
  display: flex;
}
.col-logo-center {
  width: 33.33%;
  padding: 50px;
  margin-top: -125px;
}
.col-logo-center p {
  margin: 15px 0px;
}
.col-logo-center img {
  width: 250px;
}
hr .logo-center {
  margin-top: 19px;
  width: 50px;
  height: 1px;
  background-color: var(--border-gray);
  border: none;
}

/* #Fine MAIN*/

/* #Inizio FOOTER*/
/* 
.side-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  gap: 42px;
}

.menu-footer {
  padding-top: 10px;
  width: 20%;
  color: white;
  line-height: 24px;
}

.menu-footer ul li {
  list-style: none;
  font-size: 16px;
}

.menu {
  display: flex;
  margin: auto;
  width: 75%;
}

.menu-footer ul li:first-child {
  color: white;
  font-weight: bold;
  line-height: 40px;
}

.menu {
  justify-content: space-between;
  padding: 70px 0;
} */

/* #Fine FOOTER*/

main {
  margin-top: 250px;
}
